.requireAttentionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 30px;
  }

  nav {
    margin-bottom: 30px;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;

      li {
        font-size: 16px;
        font-weight: 400;
        color: #333;
        position: relative;

        &:first-child {
          color: #071c50;
          font-weight: 600;
          &::after {
            content: "";
            display: block;
            width: 80%;
            height: 2px;
            position: absolute;
            background-color: #f7ac25;
            bottom: -5px;
            left: 0;
          }
        }
      }
    }
  }

  section {
    width: 100%;
    table {
      width: 100%;
      background-color: #f3f8ff;
      border-radius: 8px;
      border-collapse: collapse;

      thead {
        width: 100%;
        th {
          font-size: 14px;
          font-weight: 400;
          color: #071c5090;
          padding: 15px 20px;
          text-align: left;
        }
      }

      tbody {
        width: 100%;
        tr {
          td {
            font-size: 16px;
            font-weight: 600;
            color: #071c5080;
            padding: 15px;
            border-bottom: 1px solid #e5edf9;

            &:first-child {
              .tableIcon {
                width: 40px;
                height: 40px;
                padding: 10px;
                background-color: #071c5055;
                border-radius: 50%;
              }
            }

            &:nth-child(2),
            &:nth-child(3) {
              color: #071c50;
            }
          }
        }
      }
    }
  }
}
